extends ../aalayout/layout

block content
	.container.mt-3
		.row
			.col-8.mt-2
				h4
					span #{crCter.code}
					if crCter.nome
						-a;
						span [#{crCter.nome}]
			.col-4.text-right
				a.btn.btn-danger(href='/logout') 退出
		.row.mt-4.text-center
			.col-4
				span 购物车
			.col-4
				span 我的订单
			.col-4
				span 个人信息
		#cart.mt-5
			if orc
				-a;
				h5.text-center [#{moment(orc.ctAt).format("YYYY-MM-DD")}] #{orc.firm.nome}
				hr
				each orcpd in orc.orcpds
					-a;
					if orcpd.pdfir
						- pdfir = orcpd.pdfir;
						.row.mt-4.text-center
							.col-4.col-lg-2 
								div #{pdfir.code} [#{pdfir.nome}]
								div
									img(src=pdfir.photo, width="100%", style="max-width:100px")
								div
									button.btn.btn-link.text-danger.orcpdDel(type="button") 删除
							.col-8.col-lg-10
								table.table.table-bordered
									- let c = -1;
									each color in orcpd.colors
										- c++;
										tr
											td(style="background-color:#"+color.colorcode, width="10%")
												.colornome.bg-light #{color.colornome}
											- let s = -1;
											each size in color.sizes
												- s++;
												td
													span #{size.size}
													//- input.iptsty2(type="number", name="obj[orcpd][colors]["+c+"][sizes]["+s+"][quot]", value=size.quot)
													input.iptsty2.quotIpt(type="number", data-id=orcpd._id, data-color=color.colorcode, data-size=size.size, value=size.quot)
				hr
				.row
					.col-12.text-right
						button.btn.btn-success(type="button") 确认订单

	.footerSpace
	script(src="/js/aaViews/cter.js")
	script(src="/js/cter/self/cart.js")