.card
	img.card-img-top(src=pdfir.photo alt=pdfir.code)
	.card-body
		h5.card-title.text-center
			.code #{pdfir.code}
			.price #{pdfir.price} €
		P.card-text.text-center
			span #{pdfir.nome}
			if !pdfir.nome
				-a;
				br
			if pdfir.material
				-a;
				span : #{pdfir.material}
		a.btn.btn-primary.btn-block(href="#") 微信联系